body, html {
  margin: 0;
  padding: 0;
  background: #2d2d2d;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.heading{
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  background: #3d3d3d;
  border-radius: 20px;
  width: 50%;
  text-align: center;
  padding: 25px;
}

.wrapper h2 {
  color: #91b3ea;
}

.highlight {
  background: #FFFF00;
  color: black;
  padding: 3px;
  font-weight: bold;
}